.box1{
    height: 650px;
    width: 100%;
    background:url("https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680_1280.jpg");
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.box2{
    height: 300px;
    width: 500px;
    background-color: black;
    opacity: 0.8;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
   
  
}
.search{
    margin: 10px;
    padding: 5px;
    
    
}
.inp{
    padding: 5px;
    

}